body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #2c3e50;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

#results {
    margin-top: 30px;
}

.card {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.badge {
  display: inline-block;
  background: #27ae60;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.buy {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
}

.buy:hover {
  background: #27ae60;
}

